@font-face {
    font-family: 'iconfont';
    /* Project id  */
    src: url('./iconfont.ttf?t=1623057878579') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-daolushigong::before {
    content: '\e64c';
}

.icon-jiaotongyongdu::before {
    content: '\e65d';
}

.icon-jiaotongshigu::before {
    content: '\e669';
}

.icon-jinzhitingche::before {
    content: '\e676';
}

.icon-zhuyiweixian::before {
    content: '\e67a';
}

.icon-daoluyisawu-mian::before {
    content: '\e6aa';
}

.icon-zadaorukouyongdu02::before {
    content: '\e6ab';
}

.icon-hangrenchuangru::before {
    content: '\e6af';
}

.icon-feijidongchechuangru::before {
    content: '\e6b0';
}

.icon-xunjianche-honglvdengguzhang::before {
    content: '\e66b';
}

.icon-xunjianche-weizhangtingche::before {
    content: '\e6b1';
}

.icon-xunjianche-daoluyisa::before {
    content: '\e6b2';
}

.icon-zadaorukounihang::before {
    content: '\e6b9';
}

.icon-yingjichedaozhanyong::before {
    content: '\e6bd';
}

.icon-dachejinhang::before {
    content: '\e6be';
}

.icon-suidaojiaotongshigu::before {
    content: '\e6c0';
}

.icon-daoxiangjiantoubiaoshi::before {
    content: '\e6c1';
}

.icon-posunluduan::before {
    content: '\e6ca';
}

.icon-weihuluduan::before {
    content: '\e6cb';
}

.icon-chelianglianxubiandao::before {
    content: '\e6bf';
}

.icon-red-light::before {
    content: '\e9a8';
}
